
body {
  background-color: #F7ECDE;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #FBF8F1;
  background-color: #54BAB9;
}
